/* ==========================================================================
   Presentation Container
   ========================================================================== */

.debut-container {
  background: #000;

  overflow: hidden;

  &.debut-full {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

.debut-container-inner {
  position: absolute;
  left: 0;
  top: 0;

  background-color: #fff;

  transform-origin: 0 0;

  .debut-letterbox & {
    overflow: hidden;
  }
}
