.full
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;



.presentation-master
    background-color: #000000;
    overflow: hidden;
    
    .presentation-container
        position: absolute;
        background-color: #ffffff;
        left: 0;
        top: 0;
    
    
    &.letterbox .presentation-container
        overflow: hidden;
        
        
    .center,.centre
        text-align: center;
            
    .light
        color: #fff;
    
    
