navHeight = 50px;
sideWidth = 200px;
notesHeight = 200px;

#presenter-view
    #note-container
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: notesHeight;
    
    #nav
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: navHeight;
        background: #333;
        color: #fff;
        
    a.button
        display: inline-block;
        font-size: 1.1em;
        line-height: 50px;
        transition: background 0.5s;
        cursor: pointer;
        padding: 0 10px;
        
        &:hover
            background: #555;
    
    #content
        position: absolute;
        left: 0;
        top: navHeight;
        right: sideWidth;
        bottom: notesHeight;
        
        .milestone
            width: 90px;
            height: 90px;
            margin: 10px;
            background: #eee;
            padding: 5px;
            text-align: center;
            
        .tab
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            display: none;
            
            &.on
                display: block;
    
    #side
        position: absolute;
        right: 0;
        top: navHeight;
        bottom: notesHeight;
        width: sideWidth;
        background: #ccc;
        
        .timer
            text-align: center;
            .number
                font-size: 4em;
                
            .label
                font-size: 0.8em;
        
        a.button
            display: block;
            text-align: center;
            
    


