#presenter-view
    #note-container
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 200px;
    
    #nav
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 50px;
        background: #333;
        color: #fff;
        
    a.button
        display: inline-block;
        font-size: 1.1em;
        line-height: 50px;
        transition: background 0.5s;
        cursor: pointer;
        padding: 0 10px;
        
        &:hover
            background: #555;
            
    #side
        position: absolute;
        right: 0;
        top: 50px;
        bottom: 200px;
        width: 200px;
        background: #ccc;
        
        
        a.button
            display: block;
            text-align: center;


